@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .arabic {
        font-family: "Scheherazade New", serif;
    }
}

#audiopupup:target {
    visibility: visible;
    opacity: 1;
}
#audiopupup {
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
